<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
        <a href="/signup">Sign Up</a>
    </form>
</body>
</html>