<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

    <form action="">
        <div>
            <label>Name:</label>
            <input type="text" required name="name" id="name" />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" required name="email" id="email" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" required name="password" id="password" />
        </div>
        <div>
            <label>Phone:</label>
            <input type="text" name="phone" id="phone" />
        </div>
        <div>
            <button type="button" onclick="signUp()">signUp</button>
        </div>

        <p class="result" style="color: red;"></p>
    </form>

    <script>
        function signUp() {
            var email = $('#email').val(),
                password = $('#password').val(),
                name = $('#name').val(),
                phone = $('#phone').val()

            if (!email || !password || !name) {
                $('.result').text("Hãy điền đủ thông tin");
                return
            }

            $.ajax({
                type: 'POST',
                url: '/signup',
                data: {
                    email,
                    password,
                    name,
                    phone,
                }
            }).then(data => {
                if (data.status === 1) {
                    alert('Tạo tài khoản thành công !');
                    window.location.href = '/login'
                }
                else {
                    $('.result').text(data.message);
                }
            })
        }
    </script>
    
</body>
</html>